body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #17141d;
  font-family: "DM Mono";
}

.msgContainer {
  border: 5px solid;
  border-radius: 10px;
  width: 450px;
  height: 650px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-wrap: wrap;
}

.incomingMsg {
  background-color: #00cc99;
  font-size: 1.2rem;
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  padding: 7px;
  margin: 5px;
  text-wrap: wrap;
  max-width: 400px;
  color: #008060;
  user-select: none;
}

.user {
  font-size: 0.8rem;
  transition: 200ms;
}

.user:hover {
  /* background: linear-gradient(to left, #db2763, #b0db43); */
  /* background: linear-gradient(to left, );*/
  color: transparent;
  background-clip: text;
  color: black;
  cursor: pointer;
}

.msg {
  word-wrap: break-word;
  text-wrap: wrap;
}

.outgoingMsg {
  background-color: #00cc99;
  font-size: 1.2rem;
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  padding: 7px;
  margin: 5px;
  text-wrap: wrap;
  max-width: 400px;
  color: #008060;
  user-select: none;
  align-self: flex-end;
}
